body{
    background:#32493d;
    background: rgb(88, 107, 110);
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
}

h1{
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    padding: 25px;
}

textarea{
    resize: none;
    height: 200px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-size: 24px;
    padding: 15px;
    box-sizing: border-box;
}

#interactive{
    height: 200px;
    border: 0px solid white;
    inline-size: 1000px;
    border-radius: 15px;
    font-size: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    color: black;
    background-color: white;
    text-align: left;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px;
    box-sizing: border-box;
    
}

button{
    font-size: 24px;
    border-color: white;
    cursor: pointer;
    margin-right: 10px;
    font-family: monospace;
    background-color: white;
    border-radius: 15px;
    border-style: none;
}
#button_container{
    border: 0px;
    background-color: white;
    display: block;
    height: 200px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    inline-size: 1000px;
    border-radius: 15px;
}

.first_two{
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 24px;
    cursor: pointer;
}

button:hover{
    transition: 0.2s;
    background-color: powderblue;
}

.first_two:hover{
    border-color: powderblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h3{
    padding-left: 75px;
    font-size: 20px;
    font-weight: bold;
}

a{
    color: rgb(210, 207, 246);
}

p{
    font-size: 24px;
    color: blue;
}